<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Socialdoro</title>
	<meta name="description" content="TODO">
	<meta name="author" content="Toni Vaisanen, Christian Reiser">

	<link rel="stylesheet" href="style.css?v=1.0">

</head>

<body>

    <div id="tick"></div>
    <div id="status">active</div>
<canvas id="myCanvas" width="500" height="20" style="border:1px solid #000000;">
</canvas>
    <hr/>
<button id="toggle">Toggle</button>

	<script src="progressbar.js"></script>
</body>
</html>