<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Socialdoro</title>
	<meta name="description" content="TODO">
	<meta name="author" content="Toni Vaisanen, Christian Reiser">

	<link rel="stylesheet" href="style.css?v=1.0">

</head>

<body>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="pomodoro.js"></script>

	<div id="progress" style="width: 600px; height: 20px; border: 1px solid black">
	</div>
	<button id="control" type="button" style="margin: 10px">Start</button>
	<div id="info">Press start to start first pomodoro</div>
</body>
</html>