<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Socialdoro</title>
	<meta name="description" content="TODO">
	<meta name="author" content="Toni Vaisanen, Christian Reiser">

	<!--link rel="stylesheet" href="css/styles.css?v=1.0"-->

	<!--[if lt IE 9]>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript">
		var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		
		// For testing purposes, 100 seconds = 1 day
		var PomodoroState = {
		  STOPPED: 1,
		  POMODORO: 2,
		  BREAK: 3,
		};

		var user_id = {{ user_id }};
		var num_users = {{ num_users }};
		var pomodoro_state = PomodoroState.STOPPED;
		var pomodoro_time = 10; // in seconds
		var break_time = 4; // in seconds
		var pomodoro_start; // start in seconds of current pomodoro
		var pomodoros = {{ pomodoros }}; // [start, end, start, end, ...]
		var debug_start = {{ debug_start }};
		
		console.log(pomodoros);
		
		function render_progress() {
			if (pomodoro_state == PomodoroState.POMODORO) {
				$("#info").text("Work! Next break in " + Math.round(pomodoro_start + pomodoro_time - get_rel_time()) + " seconds.");
			} else if (pomodoro_state == PomodoroState.BREAK) {
				$("#info").text("Take a break! Next pomodoro in " + Math.round(pomodoro_start + pomodoro_time + break_time - get_rel_time()) + " seconds.");
			}
			
			for (i = 0; i < num_users; i++) { 
				var progress_html = "";
				// render overview bar
				// TODO: add offset in the beginning
				for (var j = 0; j < pomodoros[i].length; j += 2) {
					var width = pomodoros[i][j + 1] - pomodoros[i][j]; // 1% = 1 second
					progress_html += '<div style="width: ' + width + '%; height: 21px; background-color: green; float: left;"></div>';
					if (j + 2 < pomodoros[i].length) {
						width = pomodoros[i][j + 2] - pomodoros[i][j + 1];
						progress_html += '<div style="width: ' + width + '%; height: 21px; float: left;"></div>';
					}
				}
				$("#progress_" + i).html(progress_html);
			}
			
			// current active pomodoro will be updated continously
			if (pomodoro_state == PomodoroState.POMODORO) {
				var progress_html = "";
				if (pomodoros[user_id].length) {
					var width = pomodoro_start - pomodoros[user_id][pomodoros[user_id].length - 1];
					progress_html += '<div style="width: ' + width + '%; height: 21px; float: left;"></div>';
				}
				
				width = get_rel_time() - pomodoro_start;
				progress_html += '<div style="width: ' + width + '%; height: 21px; background-color: green; float: left;"></div>';
				$("#progress_" + user_id).html($("#progress_" + user_id).html() + progress_html);
			}
			
		}
		
		function get_pomodoros() {
			$.getJSON($SCRIPT_ROOT + '/_get_pomodoros', {
						dummy: 42
						}, function(data) {
							for (i = 0; i < num_users; i++) {
								if (i != user_id) {
									// Copy pomodoros of all friends except of current user because
									// we have fresher info from current user.
									pomodoros[i] = data.pomodoros[i];
								}
							}
						});
		}

		function tick() {
			if (pomodoro_state != PomodoroState.STOPPED) {
				//console.log(get_rel_time());
				
				// first check if we have to go to a new state
				if (pomodoro_state == PomodoroState.POMODORO && get_rel_time() > pomodoro_start + pomodoro_time) {
					pomodoro_state = PomodoroState.BREAK;
					add_pomodoro();
				} else if (pomodoro_state == PomodoroState.BREAK && get_rel_time() > pomodoro_start + pomodoro_time + break_time) {
					pomodoro_state = PomodoroState.POMODORO;
					pomodoro_start = pomodoro_start + pomodoro_time + break_time;
				}
			}
			
			// poll other users pomodoros constantly
			//get_pomodoros();
			
			// then update UI
			render_progress();
			setTimeout(tick, 10); // TODO: more efficient
		}

		function get_rel_time() {
			return new Date().getTime() / 1000 - debug_start;
		}

		function add_pomodoro() {
			pomodoros[user_id].push(pomodoro_start);
			pomodoro_end = get_rel_time()
			pomodoros[user_id].push(pomodoro_end);
			
			$.getJSON($SCRIPT_ROOT + '/_add_pomodoro', {
						user_id: user_id,
						start: pomodoro_start,
						end: pomodoro_end
						}, function(data) {
							console.log(data.result);
						});
			
			console.log(pomodoros);
		}

		$(document).ready(function() {
			//debug_start = new Date().getTime() / 1000;
			console.log(debug_start);
			
			tick();
			
			$("#control").click(function() {
				if (pomodoro_state == PomodoroState.STOPPED) {
					pomodoro_state = PomodoroState.POMODORO;
					pomodoro_start = get_rel_time();
					$("#control").text("Stop");
					tick(); 
				} else /* if (pomodoro_state == PomodoroState.POMODORO || pomodoro_state == PomodoroState.BREAK) */ {
					pomodoro_state = PomodoroState.STOPPED;
					$("#control").text("Start");
					add_pomodoro();
				}
				//$("#info").text(pomodoro_state)
				return false;
			});
		});

	</script>
	
	Current user: {{ user_id }}<br>
	
	{% for item in range(num_users) %}
		User {{ item }}: <div id="progress_{{ item }}" style="width: 600px; height: 20px; border: 1px solid black"></div>
	{% endfor %}

	<button id="control" type="button" style="margin: 10px">Start</button>
	<div id="info">Press start to start first pomodoro</div>
</body>
</html>